@using MvcCv.Models.Entity
@model List<TBLHOBI>

<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Hobilerim</h2>
        @foreach (var item in Model)
        {
            <p>@item.ACIKLAMA1</p>
            <p class="mb-0">@item.ACIKLAMA2</p>
        }
    </div>
</section>
