
<section class="resume-section form-control" id="contact" style="width: 100%;">
    <form method="post" style="width: 100%;">
        <div class="resume-section-content" style="width: 100%;">
            <h2 class="mb-5">İletişim Sayfası</h2>
            <div style="margin-top: 15px; margin-bottom: 15px;">
                <label>AD SOYAD</label>
                <input type="text" class="form-control" name="ADSOYAD" />
            </div>
            <div style="margin-top: 15px; margin-bottom: 15px;">
                <label>MAİL</label>
                <input type="text" class="form-control" name="MAIL" />
            </div>
            <div style="margin-top: 15px; margin-bottom: 15px;">
                <label>KONU</label>
                <input type="text" class="form-control" name="KONU" />
            </div>
            <div style="margin-top:15px; margin-bottom:15px;">
                <label>MESAJ</label>
                <textarea class="form-control" name="MESAJ" rows="5"></textarea>
            </div>
            <button class="btn btn-info">Mesaj Gönder</button>
            <br />

        </div>
    </form>
</section>
