@using MvcCv.Models.Entity
@model List<TBLHOBI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin:15px;">Hobilerim Sayfası</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AÇIKLAMA 1</th>
        <th>AÇIKLAMA 2</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.ACIKLAMA1</td>
            <td>@item.ACIKLAMA2</td>
            <td><a href="/Hobi/HobiSil/@item.ID" class="btn btn-danger">SİL</a></td>
            <td><a href="/Hobi/HobiGuncelle/@item.ID" class="btn btn-warning">GÜNCELLE</a></td>
        </tr>
    }
</table>
<a href="/Hobi/HobiEkle" class="btn btn-success" style="width:25%; margin-bottom:75px; margin-top:20px; margin-left:15px;">
    Yeni Hobi Ekle

