@model MvcCv.Models.Entity.TBLEGITIM

@{
    ViewBag.Title = "EgitimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin-top: 25px; margin-bottom: 25px;">Eğitim Ekleme Sayfası</h2>


<form method="post">
    <input type="text" class="form-control" placeholder="Başlık giriniz" name="BASLIK" />
    @Html.ValidationMessageFor(x => x.BASLIK, "")
    <br />
    <input type="text" class="form-control" placeholder="Alt Başlık 1'i giriniz'" name="ALTBASLIK1" />
    <br />
    <input type="text" class="form-control" placeholder="Alt Başlık 2'yi giriniz'" name="ALTBASLIK2" />
    <br />
    <input type="text" class="form-control" placeholder="GNO giriniz" name="GNO" />
    <br />
    <input type="text" class="form-control" placeholder="Tarih Giriniz" name="TARIH" />
    <br />
    <button class="btn btn-success" style="margin:15px;" rows="5">Eğitimi Kaydet</button>

</form>

