@using MvcCv.Models.Entity
@model List<TBLSERTIFIKA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2 style="margin:15px;">Sertifikalarım Sayfası</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AÇIKLAMA</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.ACIKLAMA</td>
            <td><a href="/Sertifikalar/SertifikaSil/@item.ID" class="btn btn-danger">SİL</a></td>
            <td><a href="/Sertifikalar/SertifikaGuncelle/@item.ID" class="btn btn-warning">GÜNCELLE</a></td>
        </tr>
    }
</table>
<a href="/Sertifikalar/SertifikaEkle" class="btn btn-success" style="width:25%; margin-bottom:75px; margin-top:20px; margin-left:15px;">
    Yeni Sertifika Ekle
</a>


