
@{
    ViewBag.Title = "YetenekEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin-top: 25px; margin-bottom: 25px;">Yetenek Ekleme Sayfası</h2>


<form method="post">
    <input type="text" class="form-control" placeholder="Yetenek Giriniz" name="YETENEK" />
    <br />
    <input type="text" class="form-control" placeholder="Öğrenme oranınızı 100 üzerinden giriniz" name="ORAN" />
    <br />
    <button class="btn btn-success" style="margin:15px;" rows="5">Yeteneği Kaydet</button>

</form>
